<h1>All your coupons: </h1>
<% @coupons.each do |coupon| %>
  <p>Coupon: <%= link_to "#{coupon.code}", dashboard_coupon_path(@merchant) %></p>
  <p>Price modifier: <%= coupon.modifier %></p>
<% end %>
