.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.item-card {
  width: 18rem;
}

.user-card {
  width: 18rem;
}

.order-card {
  width: 18rem;
}

.order-item-card {
  width: 18rem;
}